<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
layout:decorate="layout">
<head>
<meta charset="utf-8" />
<title>Oportunity</title>

</head>
<body class="hold-transition skin-blue sidebar-mini">
<section layout:fragment="header">
</section>
<div layout:fragment="content">
<div class="col-md-12">
<div class="box">
<div class="box-header">
<div class="col-lg-50 col-xs-55">
<div class="small-box bg-red">
<div class="inner">
    <h1>Oportunity</h1>
</div>
<div class="icon">
    <i class="glyphicon glyphicon-briefcase"></i>
</div>
</div>
</div>
<div class="box-tools pull-right">
<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
</button>
<div class="btn-group">
<button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
<i class="fa fa-wrench"></i></button>
<ul class="dropdown-menu" role="menu">

<li class="divider"></li>
<li>
<table class="table table-striped table-bordered table-hover" >
<tr>
<td>
<label>Hide id_asset
<input type="checkbox" id="1">
</label>
</td>
<td>
<label>Hide serial
<input type="checkbox" id="2">
</label>
</td>
<td>
<label>Hide serial
<input type="checkbox" id="3">
</label>
</td>
<td>
<label>Hide serial
<input type="checkbox" id="4">
</label>
</td>
<td>
<label>Hide serial
<input type="checkbox" id="5">
</label>
</td>
<td>
<label>Hide serial
<input type="checkbox" id="6">
</label>
</td>
<td>
<label>Hide serial
<input type="checkbox" id="m7">
</label>
</td>
<td>
<label>Hide serial
<input type="checkbox" id="8">
</label>
</td>
<td>
<label>Hide serial
<input type="checkbox" id="9">
</label>
</td>
<td>
<label>Hide serial
<input type="checkbox" id="10">
</label>
</td>
<td>
<label>Hide serial
<input type="checkbox" id="11">
</label>
</td>
</tr>
</table></li>
</ul>
</div>
<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
</div>
</div>

<div class="box-body">
<div class="nav-tabs-custom">
<ul class="nav nav-tabs">
<li class="active"><a href="#tab_1" data-toggle="tab">Overview</a></li>
<li ><a href="#tab_2" data-toggle="tab">General</a></li>
<!--<li ><a id="tab_3x" href="#tab_3" data-toggle="tab">History Maintenance</a></li>-->
</ul>
<div class="tab-content">
<span th:replace="lead/modal_contact"/>



<div class="tab-pane active" id="tab_1">
<div class='box-body pad'>
<div class="panel panel-default">
<table id="tabelopor" class="table table-striped table-bordered table-hover"  cellspacing="0"
width="100%" role="grid" aria-describedby="example_info"
style="width: 100%;">
<!-- Header Table -->
<thead>
<tr>
<th>id Oportunity</th>
<th>id Contact</th>
<th>Oportunity Name</th>
<th>Sales Name</th>
<th>Contact Name</th>
<th> Company </th>
<th>Industry</th>
<th>Phone No</th>
<th>Close Date</th>
<th>Leads Source</th>
<th>Note</th>
<th>Type</th>
<th>Stage</th>
<th>Probability</th>
<th>Amount</th>

</tr>
</thead>
<!-- Footer Table -->
<tfoot>
<tr>
<th>id Oportunity</th>
<th>id Contact</th>
<th>Oportunity Name</th>
<th>Sales Name</th>
<th>Contact Name</th>
<th> Company </th>
<th>Industry</th>
<th>Phone No</th>
<th>Close Date</th>
<th>Leads Source</th>
<th>Note</th>
<th>Type</th>
<th>Stage</th>
<th>Probability</th>
<th>Amount</th>
</tr>
</tfoot>
</table>

<input type=hidden id="a" name="a" value=""/>
<input type=hidden id="b" name="b" value=""/>
<input type=hidden id="c" name="c" value=""/>
<input type=hidden id="d" name="d" value=""/>
<input type=hidden id="e" name="e" value=""/>
<input type=hidden id="f" name="f" value=""/>
<input type=hidden id="g" name="g" value=""/>
<input type=hidden id="h" name="h" value=""/>
<input type=hidden id="i" name="i" value=""/>
<input type=hidden id="j" name="j" value=""/>
<input type=hidden id="k" name="k" value=""/>
<input type=hidden id="l" name="l" value=""/>
<input type=hidden id="m" name="m" value=""/>
<input type=hidden id="n" name="n" value=""/>
<input type=hidden id="o" name="o" value=""/>

</div>
</div>
</div>
<div class="tab-pane" id="tab_2">
<form data-toggle="validator" role="form" th:object="${oportunity}" th:action="@{/opo_komit}" method="post">
<div class="col-md-12">
<div class='box-header'>
<div class="box-body">

<div class="col-md-12">
<table class="table table-striped table-bordered table-hover" >
<tr hidden>
<td>
<div class="form-group" hidden>
<label for="nama">id_oportunity</label>
<input type="text" class="form-control" th:field="*{id_oportunity}" id="id_oportunity" readonly />
</div>
<div class="form-group" hidden>
<label for="nama">id_contact</label>
<input type="text" class="form-control" th:field="*{id_contact}" id="o_id_contact" readonly />
</div>
</td>
</tr>

<tr><h2>Sales Rep Info</h2></tr>
<div class="form-group">
<label for="nama">Sales Name</label>
<div class="input-group">
<div class="input-group-addon">
<i class="fa fa-id-card"></i>
</div>
<input type="text" required="true" class="form-control" th:field="*{sales_name}" id="o_sales_name" readonly />
<span class="input-group-btn">
<button class="btn btn-info btn-flat" type="button" data-target="#modcon" data-toggle="modal">Select</button>
</span>
</div>
</div>

    <tr><h2>Oportunity Info</h2></tr>
    <div class="form-group">
<label for="nama"> Oportunity Name</label>
<input type="text" required="true" class="form-control" th:field="*{oportunity_name}" id="oportunity_name" name="oportunity_name" placeholder="" />
</div>

    <tr>
<tr><h2>Contact Info</h2></tr>
<td>  <div class="form-group">
<label for="nama"> Contact Name</label>
<input type="text" required="true" class="form-control" th:field="*{contact_name}" id="o_contact_name" name="contact_name" placeholder="Masukkan Nama" readonly/>
</div></td>

<td>  <div class="form-group">
<label for="nama"> Company</label>
<input type="text" required="true" class="form-control" th:field="*{company}" id="o_company" name="company" placeholder="Masukkan Nama" readonly/>
</div></td>
</tr>

<tr>
<td> <div class="form-group">
<label for="nama">Industry</label>
<input type="text" class="form-control" required="true" th:field="*{industry}" id="o_industry" name="industry" placeholder="industry" readonly/>
</div></td>

<td> <div class="form-group">
<label for="nama">Phone No</label>
<input type="text" class="form-control" required="true" th:field="*{phone_no}" id="o_phone_no" name="phone_no" placeholder="phone_no" readonly/>
</div></td>
</tr>





</table>
<table class="table table-striped table-bordered table-hover" >
<tr><h2>Additional Information</h2></tr>
<tr>

<td>
<div class="form-group">
<label for="nama">Type</label>
<div class="input-group">
<div class="input-group-addon">
<i class="fa fa-id-card"></i>
</div>
<select class="form-control" id="Type" required="true" th:field="*{Type}">
<option th:each="type : ${oportunity}" th:text="Exixting_Bussines" th:value="'Exixting_Bussines'">Exixting Bussines</option>
<option th:each="type : ${oportunity}" th:text="contacted" th:value="'contacted'">contacted</option>
<option th:each="type : ${oportunity}" th:text="working" th:value="'working'">working</option>
<option th:each="type : ${oportunity}" th:text="qualified" th:value="'qualified'">qualified</option>
<option th:each="type : ${oportunity}" th:text="unqualified" th:value="'unqualified'">unqualified</option>
</select>
</div>
</div>
</td>

<td> <div class="form-group">
<label for="nama">Close Date</label>
<input type="text" class="form-control" required="true" th:field="*{close_date}" id="close_date" name="close_date" placeholder="YYYY/MM/DD"/>
</div></td>

<td>
<div class="form-group">
<label for="nama">Stage</label>
<div class="input-group">
<div class="input-group-addon">
<i class="fa fa-id-card"></i>
</div>
<select class="form-control" id="Stage" required="true" th:field="*{Stage}">
<option th:each="type : ${oportunity}" th:text="Qualification" th:value="'Qualification'">Qualification</option>
<option th:each="type : ${oportunity}" th:text="Meeting" th:value="'Meeting'">Meeting</option>
<option th:each="type : ${oportunity}" th:text="Schedule" th:value="'Schedule'">Schedule</option>
<option th:each="type : ${oportunity}" th:text="proposal" th:value="'proposal'">proposal/price quote</option>
<option th:each="type : ${oportunity}" th:text="negotiation" th:value="'negotiation'">negotiation</option>
<option th:each="type : ${oportunity}" th:text="closed_won" th:value="'closed_won'">closed won</option>
<option th:each="type : ${oportunity}" th:text="closed_lost" th:value="'closed_lost'">closed Lost</option>

</select>
</div>
</div>
</td>

<td> <div class="form-group">
<label for="nama">Probability (%)</label>
<input type="text" class="form-control" required="true" th:field="*{Probability}" id="Probability" name="Probability" placeholder=" "/>
</div></td>
<td> <div class="form-group">
<label for="nama">Amount</label>
<input type="text" class="form-control" required="true" th:field="*{Amount}" id="Amount" name="Amount" placeholder=" "/>
</div></td>

<td>
<div class="form-group">
<label for="nama">Lead Source</label>
<div class="input-group">
    <div class="input-group-addon">
        <i class="fa fa-id-card"></i>
    </div>
    <select class="form-control" id="lead_source" required="true" th:field="*{lead_source}">
        <option th:each="type : ${oportunity}" th:text="web" th:value="'web'">web</option>
        <option th:each="type : ${oportunity}" th:text="social" th:value="'social'">social</option>
        <option th:each="type : ${oportunity}" th:text="advertising" th:value="'advertising'">advertising</option>
        <option th:each="type : ${oportunity}" th:text="other" th:value="'other'">other</option>
    </select>
</div>
</div>
</td>
</tr>
<table  class="table table-striped table-bordered table-hover"  cellspacing="0"
width="100%" role="grid" aria-describedby="example_info"
style="width: 100%;">
<td>
<div class="form-group">
<label for="nama">Note</label>
<textarea height="6000" class="form-control" id="note" name="note"
placeholder="note" required="true" th:field="*{note}"
type="text"/></div>
</td>
</table>
</div>

</div>
</div>
</div>
<button class="btn btn-info btn-lg" id="simpan_contact"  type="submit" value="opo_simpan" name="opo_action"><b class="glyphicon glyphicon-floppy-disk"></b> Post</button>
<!--<button class="btn btn-warning btn-lg"  type="submit" value="ubah" name="action">edit</button>-->
<button class="btn btn-danger btn-lg"  type="submit" value="opo_hapus" name="opo_action"><b class="glyphicon glyphicon-trash"></b> delete</button>
</form>
</div>
<div class="tab-pane" id="tab_3">
<div class='box-body pad'>
<div class="panel panel-default">

</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>
</div>
</body>

</html>
