<!-- Logo -->
<a th:href="@{~/service_request}" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b class="fa fa-leaf"> </b></span>
    <!-- logo for regular state and mobile devices -->
    <span>Matt <small> cmms</small></span>
</a>
<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>

    </a>

    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">

            <li class="dropdown user user-menu">
                <a th:href="@{~/logout}" class="dropdown-toggle" data-toggle="dropdown">

                </a>

            </li>



            <!--<li class="dropdown user user-menu">-->
                <!--<a th:href="@{~/logout}" class="dropdown-toggle" data-toggle="dropdown">-->
                    <!--<img th:src="@{/dist/img/boot.png}" class="user-image" alt="User Image">-->
                    <!--<span class="hidden-xs" >Logout</span>-->
                <!--</a>-->
                <!--<ul class="dropdown-menu">-->

                    <!--&lt;!&ndash; Menu Footer&ndash;&gt;-->
                    <!--<li class="user-footer">-->

                        <!--<div class="pull-right">-->
                            <!--<a th:href="@{~/logout}" class="btn btn-default btn-flat">Sign out</a>-->
                        <!--</div>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</li>-->
            <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
            </li>
        </ul>
    </div>
</nav>