<div id="modbwo" class="modal fade" tabindex="-1" role="dialog">
<div class="modal-dialog" style="width:1550px;">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h4 class="modal-title">Asset</h4><small></small>
</div>
<div class="modal-body">
    <div class='box-body pad'>
        <div class="panel panel-default">
            <table aria-describedby="example_info" cellspacing="0"
                   class="table table-striped table-bordered table-hover"
                   id="tabelbwo" role="grid" style="width: 100%;"
                   width="170%">
                <!-- Header Table -->
                <thead>
                <tr>
                    <th>Wo Id</th>
                    <th>Asset Id</th>
                    <th>Pm Id</th>
                    <th>Dept Id</th>
                    <th>Wo Code</th>
                    <th>Dept Name</th>
                    <th>Issue</th>
                    <th>Asset Code</th>
                    <th>Location</th>
                    <th>Job Status</th>
                    <th>Priority</th>
                    <th>Action</th>
                    <th>Job Category</th>
                    <th>Working Date</th>
                    <th>Finish Date</th>
                </tr>
                </thead>
                <!-- Footer Table -->
            </table>

            <input id="a" name="a" type=hidden value=""/>
            <input id="b" name="b" type=hidden value=""/>
            <input id="c" name="c" type=hidden value=""/>
            <input id="d" name="d" type=hidden value=""/>
            <input id="e" name="e" type=hidden value=""/>
            <input id="f" name="f" type=hidden value=""/>
            <input id="g" name="g" type=hidden value=""/>
            <input id="h" name="h" type=hidden value=""/>
            <input id="i" name="i" type=hidden value=""/>
            <input id="j" name="j" type=hidden value=""/>
            <input id="k" name="k" type=hidden value=""/>
            <input id="l" name="l" type=hidden value=""/>
            <input id="m" name="m" type=hidden value=""/>
            <input id="n" name="n" type=hidden value=""/>
            <input id="o" name="o" type=hidden value=""/>
        </div>
    </div>
</div>
</div>
</div>
</div>